@tailwind base;
@tailwind components;
@tailwind utilities;

/* Generic stuff */
:root {
  /* Colors */
  --pumpkin-orange: #e65402;
  --new-leaf-green: #094343;
  --soft-beige: #fffef9;
  --soft-gray-white: #e0deca;
  --zested-lime: #cfdf83;
  --simple-brown: #2e2d2b;
  --simple-gray: #c4c4c4;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
  padding-top: 10px;
}
.scrollbar-thin::-webkit-scrollbar {
  height: 6px; /* Sets the size of the scrollbar when it's horizontal */
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--simple-gray);
  border-radius: 10px;
}

/* Dev stuff */
.r {
  border: 1px solid red;
}
.b {
  border: 1px solid blue;
}
.g {
  border: 1px solid green;
}
.p {
  border: 1px solid pink;
}
