.event-options {
    background: #FDF1DB;
    width: 380px;
    height: 432px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 28px;
    font-family: 'General Sans', sans-serif;
}

.create {
    background-color: #F24C27;
    width: 280px;
    height: 88px;
    border: none;
    border-radius: 22px;
    margin: 10px 0px;
}

.message {
    background-color: #F24C27;
    width: 280px;
    height: 64px;
    border: none;
    border-radius: 22px;
    margin: 10px 0px;
}

.options-event {
    color: rgba(44, 44, 42, 0.6);
}