.event-options {
    background: white;
    width: 380px;
    height: 432px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: solid #EDEEED 2px;
    margin-top: 28px;
    font-family: 'General Sans', sans-serif;
}

.create {
    background-color: rgba(123, 210, 8, 0.6);
    width: 280px;
    height: 88px;
    border: none;
    border-radius: 22px;
    margin: 10px 0px;
}

.options-event {
    color: rgba(0, 0, 0, 0.38);
}

