.eventInfo {
  background-color: white;
  width: 780px;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 24px;
  border: solid #EDEEED 2px;
  font-family: 'General Sans', sans-serif;
}

.upcomingDate{
  margin-top: 10px;
  font-size: 36px;
  margin-left: 18%;
  text-align: left;
  margin-bottom: -20px;

}

.participants {
  background-color: #d0d0d1;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  display: block; 
}

.participantAmount {
  background-color: #F5F7FF;
  margin-left: auto;
  margin-right: auto;
  display: inline-block; 
  border-radius: 14px;
  width: 75px;
}

.primaryInfoSection {
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 10px;
    font-size: 18px;
}

.primaryInfoDiv{
  display: flex;
  flex-direction: row;
  justify-content:center;
  text-align: left;
  margin-top:10px;
}

#upcomingEvents {
  text-align: center;
  width: 70%;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.upcomingEventsHeader{
  font-size: 48px;
  font-family: 'General Sans', sans-serif;
}

.upcoming_see_more {
  width: 59px;
  height: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.38);
}

.upcomingAttributes {
  display: flex;
  justify-content: center;
}

.upcomingCount {
  background: #1D8F3F;
  border-radius: 14px;
  width: 185px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}

.upcomingCountText {
  color: white;
  text-align: left;
  padding-left: 20px;
  font-weight: 500;
  font-size: 18px;
}

.upcomingCountValue {
  background: #80C241;
  border-radius: 14px;
  width: 69px;
  height: 32px;
  font-weight: 700;
  font-size: 18px;
}