.event {
  background: white;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  border: solid #EDEEED 2px;
}
.title {
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
}
.left_col {
  margin-left: 14%;
  /* position: relative; */
  /* left: 140px; */
  /* margin-left: 140px; */
  /* margin-right: 6%; */
  /* border: solid 10px yellow; */
}
.right_col {
  margin-right: 14%;
  /* margin-left: 40px; */
  /* position:relative; */
  /* left: 300px; */
  font-size: 22px;
  line-height: 100%;
  /* border: solid 10px yellow; */
}
.date {
  /* margin-top: -6%; */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}
.group {
  line-height: 50%;
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: 400;
}
.group_name {
  font-size: 18px;
  font-weight: bold;
}
.pickup {
  font-size: 16px;
  line-height: 50%;
}
.pickup_name {
  font-size: 18px;
  font-weight: bold;
}
.turnout {
  margin-top: 4%;
  font-weight: bold;
}
.driver_amount {
  background-color: #80C241;
  display: inline-block;
  border-radius: 30px;
  width: 59px;
  /* height: 29px; */
  text-align: center;
}
.needed_background {
  background: #1D8F3F;
  border-radius: 14px;
  display: inline-block;
  width: 260px;
  color: white;
}

.see_more {
  width: 59px;
  height: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;

  color: rgba(0, 0, 0, 0.38);
}