.navbar-page {
    padding-bottom: 150px;
}

nav.navbar {
    background-color: #21A749;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
}
  
.menu-toggle {
    display: none;
}
  
.nav-brand {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    background-color: white;
    padding: 17px 10px;
}
  
.nav-brand img {
    height: 20px;
}

.nav-brand div {
    color: black;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    transition: ease .1s;
    text-decoration: none;
}

.coordinator {
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    transition: ease .1s;
    text-decoration: none;
}

.coordinator:hover {
    color: black;
}

#basic-navbar-nav .nav-link {
    color: black;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 50px;
    transition: ease .1s;
    color: white;
}

#basic-navbar-nav .nav-link:hover {
    color: #00161D;
}

nav.navbar .fas {
    color: black;
    font-size: 20px;
}

nav.navbar .fas:hover {
    color: #00161D;
    cursor: pointer;
}

.toggle {
    margin-bottom: 5px;
    font-size: 22px;
}
  
@media screen and (max-width: 991px) {
    .menu-toggle {
        display: block;
    }
}