.participants{
  background-color: white;
  border: 2px solid black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: 5%;
  text-align: left;
  display: block;
}