.modal-overlay {
  opacity: 0.4;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

.modal-open-animation {
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@media screen and (max-width: 700px) {
  .dodge-keyboard {
    top: 25%;
    left: 50%;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.modal-content:focus {
  outline: none;
}
