
.searchButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    max-width: 500px;
    margin: 0 auto;
}

.searchButton label {
    font-size: 18px;
    font-weight: bold;
    color: rgb(9, 67, 67);  
    margin-right: 10px
}

.searchButton input[type="text"] {
   padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.searchButton input[type="text"]:focus {
    border-color: #007bff;
}
