.dropdown .options-menu {
    display: flex;
    justify-content: space-between;
    width: 280px;
    height: 44px;
    background-color: white;
    border-radius: 22px;
}

.dropdown.show .options-menu {
    border-radius: 22px 22px 0px 0px;
}

.menu-title {
    width: 240px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-btn {
    color: black;
    text-decoration: none;
    background-color: rgba(208, 208, 208, 0.38);
    width: 40px;
    font-size: 22px;
    border-radius: 0px 22px 22px 0px;
    z-index: 5;
    position: relative;
}

.show.dropdown .dropdown-btn {
    border-radius: 0px 22px 0px 0px;
}

.dropdown-btn:hover {
    color: black;
}

.dropdown-menu.show {
    z-index: 0;
    height: 70px;
    overflow: scroll;
}

.list-unstyled {
    margin-bottom: 0px;
}