.home {
    display: flex;
    flex-direction: column;
}

.top-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 10px 90px 10px;

}

.divider {
    border-top: 2px dashed;
    color: rgba(208, 208, 208, 0.6);
    height: 2px;
    width: 780px;
    margin: 50px auto;
}