@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

.jason
td {
  border: solid;
  background: #fffef9;
  /* Soft Gray White */

  /* border: 4px solid #e0deca; */
  /* border-radius: 10px; */

  text-align: center;
  padding: 15px;
}
.jason
.roster {
  overflow: scroll;
  height: 450px;
  border: 1px solid var(--soft-gray-white);
  border-radius: 10px;
  padding-right: 10px;
    /* border: 4px solid #e0deca; */
}

.jason
table {
  /* height: 50%; */

  background: #fffef9;
  /* Soft Gray White */

  border: 4px solid #e0deca;
  /* border: 4px solid red; */
  border-radius: 10px;

  /* font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px; */

  color: #094343;

  margin-bottom: 10px;
}


.jason
.roster-page {
  padding: 30px;
}

.jason
.table-table-ugh {
  /* border: 10px solid var(--soft-beige); */
}

.jason
thead {
  position: sticky;
  top: 0;
  background: #fffef9;
}

.jason
thead tr {
  border: 1px solid red;

}

.jason
th {
  /* padding: 10px; */
  position: sticky;
  top: 0;
  background: #fffef9;
  border: 1px solid red;
    /* box-shadow: inset 0 4px 0 #e0deca, inset 0 -4px 0 #e0deca; */
    /* background-clip: padding-box; */
    /* border: 1px solid red; */
}

.jason
tr {
  /* border: 4px solid #e0deca; */
  /* border-radius: 10px; */
}

/* .roster::-webkit-scrollbar {
  height: 15px;
  color: #094343;
} */

.jason
.title {
  display: flex;
  align-items: center;
}

.jason
select {
  background: #e65402;
  border-radius: 10px;
  height: 30px;
  color: #f5f7ff;
    padding: 5px;   
  margin: 30px;
  border: none;
}

.jason
h3 {
    font-family: "Inter";;
    color: #094343;
}
.jason
.filter-row {
  display: flex;
  align-items: center;
  vertical-align: center;
  justify-content: space-between;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.jason
button {
  padding: 15px 30px;
  align-items: center;
  color: #ffffff;
  background: #094343;
  /* New Leaf Green */

  border-radius: 20px;
}

.jason
th:first-of-type {
  border-top-left-radius: 10px;
}

.jason
th:last-of-type {
  border-top-right-radius: 15px;
}

.jason
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}

.jason
tr:first-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

.jason
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;

  /* New Leaf Green */

  color: #094343;
}
