:root {
  --pumpkin-orange: #E65402;
  --new-leaf-green: #094343;
  --soft-beige:  #FFFEF9;
  --soft-gray-white: #E0DECA;
  --zested-lime: #CFDF83;
  --simple-brown: #2E2D2B;
}

* {
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  margin: 0;
}