:root {
  --pumpkin-orange: #e65402;
  --new-leaf-green: #094343;
  --soft-beige: #fffef9;
  --soft-gray-white: #e0deca;
  --zested-lime: #cfdf83;
  --simple-brown: #2e2d2b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
    padding-top: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 10px;
}
/* Until we figure out whether we want it */
::-webkit-scrollbar {
    display: none;
}