@tailwind base;
@tailwind components;
@tailwind utilities;

/* Generic stuff */
:root {
  /* Colors */
  --pumpkin-orange: #e65402;
  --new-leaf-green: #094343;
  --soft-beige: #fffef9;
  --soft-gray-white: #e0deca;
  --zested-lime: #cfdf83;
  --simple-brown: #2e2d2b;
  --simple-gray: #c4c4c4;
  /* Fonts */
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl:  1.875rem;;
  --font-4xl: 2.25rem;
  --font-5xl: 3rem;
  --font-6xl: 3.75rem;
  --font-7xl: 4.5rem;
  --font-8xl: 6rem;
  --font-9xl: 8rem;
}


/* Font sizes.  These is based off of the Tailwind font sizes, but with clamp 
for responsiveness based on the width of the viewport. */
.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}
.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}
.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}
.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}
.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}
.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}
.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}
.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 1;
}
.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}
.text-7xl {
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}
.text-8xl {
  font-size: 6rem; /* 96px */
  line-height: 1;
}
.text-9xl {
  font-size: 8rem; /* 128px */
  line-height: 1;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
}

body {
  margin: 0;
  font-family: sans-serif;
}

ol, ul, li {
  padding: 0;
  margin: 0;
}
ol, ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
button {
  border: none;
}
button:hover {
  cursor: pointer;
}

footer {
  height: 10rem;
  background: linear-gradient(0deg, #094c43, #094c43), var(--simple-brown);
}

::-webkit-scrollbar {
  width: 10px;
  padding-top: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--simple-gray);
  border-radius: 10px;
}
