@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

.events-container {
  /* border: 1px solid red; */
  padding: 40px;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.events-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;

  color: var(--new-leaf-green);
}
.add-button {
  width: 228px;
  height: 55px;

  background: var(--pumpkin-orange);
  border-radius: 20px;
  border: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: white;
}

.add-button:hover {
  filter:brightness(1.1);
  cursor: pointer;
}