.event-card {
  border: 0.25rem solid var(--soft-gray-white);
  box-sizing: border-box;

  background: var(--soft-beige);

  border-radius: 0.75rem;
  padding: clamp(1rem, 1rem + 1vw, 1.75rem) clamp(1rem, 1rem + 1vw, 2rem);
  margin-bottom: 1rem;
}

.event-card .date {
  color: var(--new-leaf-green);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1rem, 1rem + 1vw, 2.25rem);
}

.middle-row {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.middle-row .left {
  display: flex;
  gap: 2rem;
}
.left .mid-section .text-label,
.info {
  font-family: "Inter";
  font-style: normal;
}
.left .mid-section .text-label {
  font-weight: 400;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.5rem);
  color: var(--simple-brown);
}

.left .mid-section .info {
  font-weight: 700;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.75rem);
  color: var(--new-leaf-green);
}

.event-card .middle-row .view-event-button {
  background: var(--new-leaf-green);
  border-radius: 1.25rem;
  border: none;
  padding: clamp(0.5rem, 0.5rem + 1vh, 1.25rem) clamp(1rem, 1rem + 1vw, 2.5rem);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.25rem);

  color: var(--soft-gray-white);
}
.event-card .middle-row .view-event-button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.bottom-row {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  display: flex;
  gap: 2rem;
}

.bottom-row .section {
  display: flex;
  gap: min(2vw, 1rem);
}

.bottom-row .section .text-label {
  font-weight: 400;

  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.5rem);
  color: var(--simple-brown);
}

.bottom-row .section .info {
  font-weight: 700;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.5rem);
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.75rem);
  color: var(--new-leaf-green);
}

/* Desktop */
.event-card.desktop {
  padding: 1.25rem 1.5rem;
  border-radius: 0.75rem;
  border: 4px solid var(--soft-gray-white);
}

.event-card .header {
  /* font-size: clamp(1rem, 1rem + 1vw, 1.5rem); */
  font-size: clamp(var(--font-base), var(--font-base) + 1vw, var(--font-2xl));
  font-weight: 700;
  color: var(--new-leaf-green);
}
.event-card .details {
  display: flex;
  gap: 1rem;
}

.event-card .left {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeate(2, 1fr);
  align-items: center;
  column-gap: 2rem;
}

.event-card .right {
  border: 1px solid red;
}

.event-card.desktop .mid {
  display: flex;
  gap: 2rem;
}
.event-card .label {
  font-size: clamp(var(--font-base), var(--font-base) + 1vw, var(--font-xl));
}

.event-card .line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.event-card .bold-green {
  font-weight: 600;
  color: var(--new-leaf-green);
}

.event-card.desktop .view-event-btn-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.event-card .view-event-btn {
  border-radius: 9999px;
  background-color: var(--new-leaf-green);
  padding: 1rem 2rem;
  font-weight: 600;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  color: var(--soft-gray-white);
  box-shadow: 0 4px 6px -1px var(--new-leaf-green),
    0 2px 4px -2px var(--new-leaf-green);
}

.event-card .view-event-btn:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 10px 15px -3px var(--new-leaf-green),
    0 4px 6px -2px var(--new-leaf-green);
}

.event-card.desktop .bottom {
  display: flex;
  gap: 1rem;
}

.event-card.desktop .bottom .wrapper {
  display: flex;
  gap: 0.5rem;
}

.event-card.desktop .bottom .wrapper .driver-fraction {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--new-leaf-green);
  border: 1px solid red;
}

.event-card.desktop .bottom .wrapper .driver-fraction img {
  /* transform: translateY(-0.1rem); */
}

/* Mobile */
/* .event-card.mobile .driver-fraction {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  gap: 0.5rem;
  color: var(--new-leaf-green);
} */

/* .event-card.mobile .driver-fraction img {
  display: inline;
  width: 0.75rem;
} */
