.event-card {
  border: 0.35rem solid var(--soft-gray-white);
  box-sizing: border-box;

  background: var(--soft-beige);

  border-radius: 1rem;
  padding: 1.75rem 2rem;
  margin-bottom: 1rem;
}

.event-card .date {
  color: var(--new-leaf-green);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1rem, 1rem + 1vw, 2.25rem);
}

.middle-row {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.middle-row .left {
  display: flex;
  gap: 2rem;
}
.left .mid-section .text-label,
.info {
  font-family: "Inter";
  font-style: normal;
}
.left .mid-section .text-label {
  font-weight: 400;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.5rem);
  color: var(--simple-brown);
}

.left .mid-section .info {
  font-weight: 700;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.75rem);
  color: var(--new-leaf-green);
}

.event-card .middle-row .view-event-button {
  background: var(--new-leaf-green);
  border-radius: 1.25rem;
  border: none;
  padding: clamp(0.5rem, 0.5rem + 1vh, 1.25rem) clamp(1rem, 1rem + 1vw, 2.5rem);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.25rem);

  color: var(--soft-gray-white);
}
.event-card .middle-row .view-event-button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.bottom-row {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  display: flex;
  gap: 2rem;
}

.bottom-row .section {
  display: flex;
  gap: min(2vw, 1rem);
}

.bottom-row .section .text-label {
  font-weight: 400;

  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.5rem);
  color: var(--simple-brown);
}

.bottom-row .section .info {
  font-weight: 700;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.5rem);
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.75rem);
  color: var(--new-leaf-green);
}
