@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Nav */
.navbar {
  background: var(--soft-gray-white);
  display: flex;
  align-items: center;
  height: 5em;
  padding: 0 3rem;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin: 0;
  width: 12em;
}
.event-coordinator-text {
  margin: 0;
  width: 7em;
  padding: 0;
  transform: translateY(-0.5em); /* Ugh */
}

/* Navbar items */
.navbar-items-wrap {
  flex-grow: 1;

  display: flex;
  justify-content: flex-end;
}
.navbar-items {
  min-width: 12em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
}
.navbar-items .link {
  color: var(--new-leaf-green);
}
.navbar-items .link:hover {
  filter: brightness(1.25);
}
.navbar-items a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-bottom: none;
}

@media only screen and (max-width: 600px) {
  .logo-box {
    display: none;
  }

  .navbar-items-wrap {
    justify-content: center;
    margin-right: 0;
  }
}
